# dependencies
*/node_modules*

# misc
.DS_Store
.env.local

# testing
/coverage

# production
/build

.idea
dist
client/package-lock.json
client/package.json
client/src/components/Button/__tests__/__image_snapshots__/button-visual-js-button-should-match-snapshot-1-snap.png
client/src/components/Button/__tests__/__snapshots__/Button.test.tsx.snap
client/src/components/Button/__tests__/__snapshots__/ButtonBadge.test.tsx.snap
client/src/components/Button/__tests__/__snapshots__/ButtonIcon.test.tsx.snap
client/src/components/Button/__tests__/__snapshots__/ButtonLabel.test.tsx.snap
client/src/components/Button/__tests__/Button.spec.js
client/src/components/Button/__tests__/Button.test.tsx
client/src/components/Button/__tests__/Button.visual.js
client/src/components/Button/__tests__/ButtonBadge.test.tsx
client/src/components/Button/__tests__/ButtonIcon.test.tsx
client/src/components/Button/__tests__/ButtonLabel.test.tsx
client/src/components/Button/Button.scss
client/src/components/Button/Button.tsx
client/src/components/Button/component/ButtonBadge.scss
client/src/components/Button/component/ButtonBadge.tsx
client/src/components/Button/component/ButtonIcon.scss
client/src/components/Button/component/ButtonIcon.tsx
client/src/components/Button/component/ButtonLabel.scss
client/src/components/Button/component/ButtonLabel.tsx
client/src/components/Button/index.ts
client/src/components/Button/README.md
client/src/components/Button/type.ts
client/src/components/ButtonCard/__test__/__snapshots__/ButtonCard.test.tsx.snap
client/src/components/ButtonCard/__test__/ButtonCard.test.tsx
client/src/components/ButtonCard/ButtonCard.scss
client/src/components/ButtonCard/ButtonCard.tsx
client/src/components/ButtonCard/index.ts
client/src/components/ButtonCard/README.md
client/src/components/ButtonCard/type.ts
client/src/components/DataTable/__tests__/__snapshots__/DataTable.test.tsx.snap
client/src/components/DataTable/__tests__/DataTable.test.tsx
client/src/components/DataTable/__tests__/DataTableCustomiseModal.test.tsx
client/src/components/DataTable/component/DataTableActions.scss
client/src/components/DataTable/component/DataTableActions.tsx
client/src/components/DataTable/component/DataTableBody.scss
client/src/components/DataTable/component/DataTableBody.tsx
client/src/components/DataTable/component/DataTableBulkActionsButton.scss
client/src/components/DataTable/component/DataTableBulkActionsButton.tsx
client/src/components/DataTable/component/DataTableCustomiseButton.scss
client/src/components/DataTable/component/DataTableCustomiseButton.tsx
client/src/components/DataTable/component/DataTableCustomiseModal.tsx
client/src/components/DataTable/component/DataTableEmptyColumnsMessage.scss
client/src/components/DataTable/component/DataTableEmptyColumnsMessage.tsx
client/src/components/DataTable/component/DataTableEmptyMessage.tsx
client/src/components/DataTable/component/DataTableHeader.scss
client/src/components/DataTable/component/DataTableHeader.tsx
client/src/components/DataTable/component/DataTablePagination.tsx
client/src/components/DataTable/component/DataTableSelect.scss
client/src/components/DataTable/component/DataTableSelect.tsx
client/src/components/DataTable/component/DataTableSelectAllCheckbox.tsx
client/src/components/DataTable/component/DataTableSort.scss
client/src/components/DataTable/component/DataTableSort.tsx
client/src/components/DataTable/component/DataTableTd.scss
client/src/components/DataTable/component/DataTableTd.tsx
client/src/components/DataTable/component/DataTableTh.tsx
client/src/components/DataTable/component/DataTableTr.tsx
client/src/components/DataTable/component/DataTableWrapper.tsx
client/src/components/DataTable/DataTable.scss
client/src/components/DataTable/DataTable.tsx
client/src/components/DataTable/DataTableContext.tsx
client/src/components/DataTable/DataTableContextConsumer.tsx
client/src/components/DataTable/index.ts
client/src/components/DataTable/LayoutAwareDataTable.tsx
client/src/components/DataTable/README.md
client/src/components/DataTable/type.ts
client/src/components/FormContainer/__test__/__snapshots__/FormContainer.test.tsx.snap
client/src/components/FormContainer/__test__/FormContainer.test.tsx
client/src/components/FormContainer/FormContainer.scss
client/src/components/FormContainer/FormContainer.tsx
client/src/components/FormContainer/index.ts
client/src/components/FormContainer/README.md
client/src/components/FormContainer/type.ts
client/src/components/Icon/Icon.scss
client/src/components/Icon/Icon.tsx
client/src/components/Icon/icons/AccessTime.tsx
client/src/components/Icon/icons/AccountBox.tsx
client/src/components/Icon/icons/AccountCircle.tsx
client/src/components/Icon/icons/AccountCircleOutlined.tsx
client/src/components/Icon/icons/Actions.tsx
client/src/components/Icon/icons/Add.tsx
client/src/components/Icon/icons/AddCourseOutlined.tsx
client/src/components/Icon/icons/Administrator.tsx
client/src/components/Icon/icons/Approval.tsx
client/src/components/Icon/icons/ArrowBack.tsx
client/src/components/Icon/icons/ArrowBackIos.tsx
client/src/components/Icon/icons/ArrowForward.tsx
client/src/components/Icon/icons/ArrowForwardIos.tsx
client/src/components/Icon/icons/AssignmentInd.tsx
client/src/components/Icon/icons/AssignmentIndOutlined.tsx
client/src/components/Icon/icons/AssignmentLate.tsx
client/src/components/Icon/icons/AssignmentLateOutlined.tsx
client/src/components/Icon/icons/AssignmentTurnedIn.tsx
client/src/components/Icon/icons/AssignmentTurnedInOutlined.tsx
client/src/components/Icon/icons/AttachMoney.tsx
client/src/components/Icon/icons/Autorenew.tsx
client/src/components/Icon/icons/BeachAccess.tsx
client/src/components/Icon/icons/BeachAccessOutlined.tsx
client/src/components/Icon/icons/Block.tsx
client/src/components/Icon/icons/BookmarkBorder.tsx
client/src/components/Icon/icons/BulkAction.tsx
client/src/components/Icon/icons/Calendar.tsx
client/src/components/Icon/icons/CalendarToday.tsx
client/src/components/Icon/icons/CalendarTodayOutlined.tsx
client/src/components/Icon/icons/CallMade.tsx
client/src/components/Icon/icons/CallReceived.tsx
client/src/components/Icon/icons/Cancel.tsx
client/src/components/Icon/icons/CancelOutlined.tsx
client/src/components/Icon/icons/Careers.tsx
client/src/components/Icon/icons/Certificate.tsx
client/src/components/Icon/icons/CertificateFilled.tsx
client/src/components/Icon/icons/ChangePassword.tsx
client/src/components/Icon/icons/Chat.tsx
client/src/components/Icon/icons/ChatOutlined.tsx
client/src/components/Icon/icons/Check.tsx
client/src/components/Icon/icons/CheckCircle.tsx
client/src/components/Icon/icons/ChevronLeft.tsx
client/src/components/Icon/icons/ChevronRight.tsx
client/src/components/Icon/icons/ClearAllOutlined.tsx
client/src/components/Icon/icons/ClientOutlined.tsx
client/src/components/Icon/icons/ClockOnOutlined.tsx
client/src/components/Icon/icons/Close.tsx
client/src/components/Icon/icons/CloudDownload.tsx
client/src/components/Icon/icons/CloudUpload.tsx
client/src/components/Icon/icons/CloudUploadOutlined.tsx
client/src/components/Icon/icons/ComposeOutlined.tsx
client/src/components/Icon/icons/Contracts.tsx
client/src/components/Icon/icons/Copy.tsx
client/src/components/Icon/icons/CourseCatalogue.tsx
client/src/components/Icon/icons/CourseRecommended.tsx
client/src/components/Icon/icons/CourseRequest.tsx
client/src/components/Icon/icons/Crt.tsx
client/src/components/Icon/icons/Dashboard.tsx
client/src/components/Icon/icons/DashboardOutlined.tsx
client/src/components/Icon/icons/DateDictionary.tsx
client/src/components/Icon/icons/DateRange.tsx
client/src/components/Icon/icons/DateRangeOutlined.tsx
client/src/components/Icon/icons/Delete.tsx
client/src/components/Icon/icons/DeleteOutlined.tsx
client/src/components/Icon/icons/Description.tsx
client/src/components/Icon/icons/DescriptionOutlined.tsx
client/src/components/Icon/icons/DiagonallyCollapseOutlined.tsx
client/src/components/Icon/icons/DiagonallyExpandOutlined.tsx
client/src/components/Icon/icons/Documents.tsx
client/src/components/Icon/icons/DoneAll.tsx
client/src/components/Icon/icons/DragIndicator.tsx
client/src/components/Icon/icons/Edit.tsx
client/src/components/Icon/icons/EditOutlined.tsx
client/src/components/Icon/icons/ElmoAdmin.tsx
client/src/components/Icon/icons/ElmoHome.tsx
client/src/components/Icon/icons/ElmoSort.tsx
client/src/components/Icon/icons/ElmoSurvey.tsx
client/src/components/Icon/icons/EmailTemplates.tsx
client/src/components/Icon/icons/Error.tsx
client/src/components/Icon/icons/ErrorOutline.tsx
client/src/components/Icon/icons/EventOutlined.tsx
client/src/components/Icon/icons/ExpandLess.tsx
client/src/components/Icon/icons/ExpandMore.tsx
client/src/components/Icon/icons/ExternalCourse.tsx
client/src/components/Icon/icons/ExternalTraining.tsx
client/src/components/Icon/icons/F2fSessionOutlined.tsx
client/src/components/Icon/icons/File.tsx
client/src/components/Icon/icons/FilterList.tsx
client/src/components/Icon/icons/FilterNewOutlined.tsx
client/src/components/Icon/icons/FirstPage.tsx
client/src/components/Icon/icons/FreeBreakfast.tsx
client/src/components/Icon/icons/FreeBreakfastOutlined.tsx
client/src/components/Icon/icons/GridOn.tsx
client/src/components/Icon/icons/HelpOutline.tsx
client/src/components/Icon/icons/HighlightOff.tsx
client/src/components/Icon/icons/Home.tsx
client/src/components/Icon/icons/HomeOutlined.tsx
client/src/components/Icon/icons/HrCore.tsx
client/src/components/Icon/icons/index.tsx
client/src/components/Icon/icons/Info.tsx
client/src/components/Icon/icons/InfoOutlined.tsx
client/src/components/Icon/icons/LastPage.tsx
client/src/components/Icon/icons/Launch.tsx
client/src/components/Icon/icons/Learning.tsx
client/src/components/Icon/icons/Leave.tsx
client/src/components/Icon/icons/List.tsx
client/src/components/Icon/icons/LocalActivity.tsx
client/src/components/Icon/icons/LocalActivityOutlined.tsx
client/src/components/Icon/icons/LocationFilterOutlined.tsx
client/src/components/Icon/icons/LocationOn.tsx
client/src/components/Icon/icons/LocationOnOutlined.tsx
client/src/components/Icon/icons/Lock.tsx
client/src/components/Icon/icons/LockOutlined.tsx
client/src/components/Icon/icons/Lookup.tsx
client/src/components/Icon/icons/Mail.tsx
client/src/components/Icon/icons/MailOutlined.tsx
client/src/components/Icon/icons/MakeRequisition.tsx
client/src/components/Icon/icons/ManagerDashboardOutlined.tsx
client/src/components/Icon/icons/Map.tsx
client/src/components/Icon/icons/MapOutlined.tsx
client/src/components/Icon/icons/Marking.tsx
client/src/components/Icon/icons/Menu.tsx
client/src/components/Icon/icons/MessagingOutlined.tsx
client/src/components/Icon/icons/MoreHoriz.tsx
client/src/components/Icon/icons/MyLearning.tsx
client/src/components/Icon/icons/MySurveys.tsx
client/src/components/Icon/icons/MyTeam.tsx
client/src/components/Icon/icons/MyTeamOutlined.tsx
client/src/components/Icon/icons/NoBreak.tsx
client/src/components/Icon/icons/Notifications.tsx
client/src/components/Icon/icons/NotificationsNone.tsx
client/src/components/Icon/icons/NotNotified.tsx
client/src/components/Icon/icons/Null.tsx
client/src/components/Icon/icons/OpenRequisition.tsx
client/src/components/Icon/icons/PauseCircleFilled.tsx
client/src/components/Icon/icons/PauseCircleOutline.tsx
client/src/components/Icon/icons/Payroll.tsx
client/src/components/Icon/icons/PendingOutlined.tsx
client/src/components/Icon/icons/People.tsx
client/src/components/Icon/icons/PeopleOutline.tsx
client/src/components/Icon/icons/PeopleOutlined.tsx
client/src/components/Icon/icons/Performance.tsx
client/src/components/Icon/icons/PerformanceDirectReports.tsx
client/src/components/Icon/icons/PerformanceIndirectReports.tsx
client/src/components/Icon/icons/PerformanceOutlined.tsx
client/src/components/Icon/icons/PerformancePosition.tsx
client/src/components/Icon/icons/PersonAdd.tsx
client/src/components/Icon/icons/PersonAddOutlined.tsx
client/src/components/Icon/icons/PersonalDetailsOutlined.tsx
client/src/components/Icon/icons/PictureAsPdf.tsx
client/src/components/Icon/icons/PictureAsPdfOutlined.tsx
client/src/components/Icon/icons/PlayCircleFilled.tsx
client/src/components/Icon/icons/PlayCircleOutline.tsx
client/src/components/Icon/icons/Post.tsx
client/src/components/Icon/icons/Preferences.tsx
client/src/components/Icon/icons/PrintOutlined.tsx
client/src/components/Icon/icons/ProfessionalDevelopment.tsx
client/src/components/Icon/icons/Profile.tsx
client/src/components/Icon/icons/ProfileFilled.tsx
client/src/components/Icon/icons/QuestionCategories.tsx
client/src/components/Icon/icons/QuestionLibrary.tsx
client/src/components/Icon/icons/Quiz.tsx
client/src/components/Icon/icons/Recruitment.tsx
client/src/components/Icon/icons/RemoveRedEye.tsx
client/src/components/Icon/icons/RemoveRedEyeOutlined.tsx
client/src/components/Icon/icons/ReportOffOutlined.tsx
client/src/components/Icon/icons/ReportOutlined.tsx
client/src/components/Icon/icons/Reports.tsx
client/src/components/Icon/icons/Required.tsx
client/src/components/Icon/icons/Restaurant.tsx
client/src/components/Icon/icons/Review360Reuqest.tsx
client/src/components/Icon/icons/RewardsRecognition.tsx
client/src/components/Icon/icons/Roles.tsx
client/src/components/Icon/icons/Roster.tsx
client/src/components/Icon/icons/RotateLeft.tsx
client/src/components/Icon/icons/SaveAlt.tsx
client/src/components/Icon/icons/SaveAs.tsx
client/src/components/Icon/icons/School.tsx
client/src/components/Icon/icons/SchoolOutlined.tsx
client/src/components/Icon/icons/Scorm.tsx
client/src/components/Icon/icons/Search.tsx
client/src/components/Icon/icons/SendMessageOutlined.tsx
client/src/components/Icon/icons/Settings.tsx
client/src/components/Icon/icons/SettingsOutlined.tsx
client/src/components/Icon/icons/SidePanelLeftOutlined.tsx
client/src/components/Icon/icons/SidePanelRightOutlined.tsx
client/src/components/Icon/icons/SignalCellular4Bar.tsx
client/src/components/Icon/icons/SignOff.tsx
client/src/components/Icon/icons/SignOut.tsx
client/src/components/Icon/icons/SignupOutlined.tsx
client/src/components/Icon/icons/SignupSession.tsx
client/src/components/Icon/icons/SiteManagement.tsx
client/src/components/Icon/icons/Slideshow.tsx
client/src/components/Icon/icons/SmsFailed.tsx
client/src/components/Icon/icons/SmsFailedOutlined.tsx
client/src/components/Icon/icons/Sort.tsx
client/src/components/Icon/icons/SortAsc.tsx
client/src/components/Icon/icons/SortByAscendingOutlined.tsx
client/src/components/Icon/icons/SortDesc.tsx
client/src/components/Icon/icons/Star.tsx
client/src/components/Icon/icons/StarBorder.tsx
client/src/components/Icon/icons/StarHalf.tsx
client/src/components/Icon/icons/Status.tsx
client/src/components/Icon/icons/Succession.tsx
client/src/components/Icon/icons/SupervisedUserCircle.tsx
client/src/components/Icon/icons/SupervisedUserCircleOutlined.tsx
client/src/components/Icon/icons/Survey.tsx
client/src/components/Icon/icons/SurveyV2.tsx
client/src/components/Icon/icons/SwapHoriz.tsx
client/src/components/Icon/icons/SwitchAccounts.tsx
client/src/components/Icon/icons/TagsOutlined.tsx
client/src/components/Icon/icons/Templates.tsx
client/src/components/Icon/icons/TemplatesOutlined.tsx
client/src/components/Icon/icons/Themes.tsx
client/src/components/Icon/icons/ThumbUp.tsx
client/src/components/Icon/icons/ThumbUpAlt.tsx
client/src/components/Icon/icons/Timer.tsx
client/src/components/Icon/icons/TimerOff.tsx
client/src/components/Icon/icons/Timesheet.tsx
client/src/components/Icon/icons/TimesheetApproval.tsx
client/src/components/Icon/icons/Today.tsx
client/src/components/Icon/icons/TodayOutlined.tsx
client/src/components/Icon/icons/UploadOutlined.tsx
client/src/components/Icon/icons/UserFilterOutlined.tsx
client/src/components/Icon/icons/UserLog.tsx
client/src/components/Icon/icons/UserManagement.tsx
client/src/components/Icon/icons/ViewAgenda.tsx
client/src/components/Icon/icons/ViewAgendaOutlined.tsx
client/src/components/Icon/icons/ViewArray.tsx
client/src/components/Icon/icons/ViewArrayOutlined.tsx
client/src/components/Icon/icons/ViewColumnOutlined.tsx
client/src/components/Icon/icons/ViewHeadline.tsx
client/src/components/Icon/icons/Warning.tsx
client/src/components/Icon/icons/WarningOutline.tsx
client/src/components/Icon/icons/WbSunny.tsx
client/src/components/Icon/icons/WbSunnyOutlined.tsx
client/src/components/Icon/icons/WithdrawnProfileOutlined.tsx
client/src/components/Icon/icons/WithdrawRequisition.tsx
client/src/components/Icon/icons/WithdrawSession.tsx
client/src/components/Icon/icons/Work.tsx
client/src/components/Icon/icons/WorkOff.tsx
client/src/components/Icon/icons/WorkOffOutlined.tsx
client/src/components/Icon/icons/WorkOutline.tsx
client/src/components/Icon/icons/WorkOutlined.tsx
client/src/components/Icon/icons/YearViewOutlined.tsx
client/src/components/Icon/index.tsx
client/src/components/Icon/README.md
client/src/components/Icon/test/__snapshots__/icon.test.tsx.snap
client/src/components/Icon/test/icon.test.tsx
client/src/components/Icon/type.ts
client/src/components/Layout/__tests__/__snapshots__/Layout.test.tsx.snap
client/src/components/Layout/__tests__/__snapshots__/LayoutAware.test.tsx.snap
client/src/components/Layout/__tests__/__snapshots__/LayoutContent.test.tsx.snap
client/src/components/Layout/__tests__/__snapshots__/LayoutHeader.test.tsx.snap
client/src/components/Layout/__tests__/__snapshots__/LayoutMenu.test.tsx.snap
client/src/components/Layout/__tests__/__snapshots__/LayoutSidePanel.test.tsx.snap
client/src/components/Layout/__tests__/Layout.test.tsx
client/src/components/Layout/__tests__/LayoutAware.test.tsx
client/src/components/Layout/__tests__/LayoutContent.test.tsx
client/src/components/Layout/__tests__/LayoutHeader.test.tsx
client/src/components/Layout/component/LayoutAware.tsx
client/src/components/Layout/component/LayoutContent.scss
client/src/components/Layout/component/LayoutContent.tsx
client/src/components/Layout/component/LayoutContext.ts
client/src/components/Layout/component/LayoutHeader.scss
client/src/components/Layout/component/LayoutHeader.tsx
client/src/components/Layout/component/LayoutMenu.tsx
client/src/components/Layout/component/LayoutSidePanel.scss
client/src/components/Layout/component/LayoutSidePanel.tsx
client/src/components/Layout/index.ts
client/src/components/Layout/Layout.scss
client/src/components/Layout/Layout.tsx
client/src/components/Layout/README.md
client/src/components/Layout/type.ts
client/src/components/ListTable/__tests__/__snapshots__/LayoutAwareListTable.test.tsx.snap
client/src/components/ListTable/__tests__/__snapshots__/ListTable.test.tsx.snap
client/src/components/ListTable/__tests__/__snapshots__/ListTableActions.test.tsx.snap
client/src/components/ListTable/__tests__/__snapshots__/ListTableColumn.test.tsx.snap
client/src/components/ListTable/__tests__/__snapshots__/ListTableHeader.test.tsx.snap
client/src/components/ListTable/__tests__/__snapshots__/ListTableHeaderSelectAll.test.tsx.snap
client/src/components/ListTable/__tests__/__snapshots__/ListTableHeaderWrapper.test.tsx.snap
client/src/components/ListTable/__tests__/__snapshots__/ListTablePagination.test.tsx.snap
client/src/components/ListTable/__tests__/__snapshots__/ListTableSortIcon.test.tsx.snap
client/src/components/ListTable/__tests__/__snapshots__/ListTableTd.test.tsx.snap
client/src/components/ListTable/__tests__/__snapshots__/ListTableTh.test.tsx.snap
client/src/components/ListTable/__tests__/__snapshots__/ListTableTr.test.tsx.snap
client/src/components/ListTable/__tests__/LayoutAwareListTable.test.tsx
client/src/components/ListTable/__tests__/ListTable.test.tsx
client/src/components/ListTable/__tests__/ListTableActions.test.tsx
client/src/components/ListTable/__tests__/ListTableBody.test.tsx
client/src/components/ListTable/__tests__/ListTableColumn.test.tsx
client/src/components/ListTable/__tests__/ListTableHeader.test.tsx
client/src/components/ListTable/__tests__/ListTableHeaderSelectAll.test.tsx
client/src/components/ListTable/__tests__/ListTableHeaderWrapper.test.tsx
client/src/components/ListTable/__tests__/ListTablePagination.test.tsx
client/src/components/ListTable/__tests__/ListTableSortIcon.test.tsx
client/src/components/ListTable/__tests__/ListTableTd.test.tsx
client/src/components/ListTable/__tests__/ListTableTh.test.tsx
client/src/components/ListTable/__tests__/ListTableTr.test.tsx
client/src/components/ListTable/component/ListTableActions.tsx
client/src/components/ListTable/component/ListTableBody.tsx
client/src/components/ListTable/component/ListTableColumn.tsx
client/src/components/ListTable/component/ListTableHeader.tsx
client/src/components/ListTable/component/ListTableHeaderSelectAll.scss
client/src/components/ListTable/component/ListTableHeaderSelectAll.tsx
client/src/components/ListTable/component/ListTableHeaderWrapper.scss
client/src/components/ListTable/component/ListTableHeaderWrapper.tsx
client/src/components/ListTable/component/ListTablePagination.tsx
client/src/components/ListTable/component/ListTableSortIcon.tsx
client/src/components/ListTable/component/ListTableTd.scss
client/src/components/ListTable/component/ListTableTd.tsx
client/src/components/ListTable/component/ListTableTh.scss
client/src/components/ListTable/component/ListTableTh.tsx
client/src/components/ListTable/component/ListTableTr.scss
client/src/components/ListTable/component/ListTableTr.tsx
client/src/components/ListTable/index.ts
client/src/components/ListTable/LayoutAwareListTable.tsx
client/src/components/ListTable/ListTable.scss
client/src/components/ListTable/ListTable.tsx
client/src/components/ListTable/ListTableContext.tsx
client/src/components/ListTable/ListTableContextConsumer.tsx
client/src/components/ListTable/README.md
client/src/components/ListTable/type.ts
client/src/components/Loader/__test__/__snapshots__/AvatarStyle.test.tsx.snap
client/src/components/Loader/__test__/__snapshots__/BulletListStyle.test.tsx.snap
client/src/components/Loader/__test__/__snapshots__/ButtonsStyle.test.tsx.snap
client/src/components/Loader/__test__/__snapshots__/CodeStyle.test.tsx.snap
client/src/components/Loader/__test__/__snapshots__/ContentStyle.test.tsx.snap
client/src/components/Loader/__test__/__snapshots__/IconStyle.test.tsx.snap
client/src/components/Loader/__test__/__snapshots__/ListStyle.test.tsx.snap
client/src/components/Loader/__test__/__snapshots__/Loader.test.tsx.snap
client/src/components/Loader/__test__/__snapshots__/LoaderHolder.test.tsx.snap
client/src/components/Loader/__test__/__snapshots__/MenuStyle.test.tsx.snap
client/src/components/Loader/__test__/__snapshots__/NarrowBulletListStyle.test.tsx.snap
client/src/components/Loader/__test__/__snapshots__/NarrowContentStyle.test.tsx.snap
client/src/components/Loader/__test__/__snapshots__/ShortTextStyle.test.tsx.snap
client/src/components/Loader/__test__/__snapshots__/SpinnerStyle.test.tsx.snap
client/src/components/Loader/__test__/__snapshots__/TextStyle.test.tsx.snap
client/src/components/Loader/__test__/__snapshots__/WordStyle.test.tsx.snap
client/src/components/Loader/__test__/api.test.tsx
client/src/components/Loader/__test__/AvatarStyle.test.tsx
client/src/components/Loader/__test__/BulletListStyle.test.tsx
client/src/components/Loader/__test__/ButtonsStyle.test.tsx
client/src/components/Loader/__test__/CodeStyle.test.tsx
client/src/components/Loader/__test__/ContentStyle.test.tsx
client/src/components/Loader/__test__/IconStyle.test.tsx
client/src/components/Loader/__test__/ListStyle.test.tsx
client/src/components/Loader/__test__/Loader.test.tsx
client/src/components/Loader/__test__/LoaderHolder.test.tsx
client/src/components/Loader/__test__/MenuStyle.test.tsx
client/src/components/Loader/__test__/NarrowBulletListStyle.test.tsx
client/src/components/Loader/__test__/NarrowContentStyle.test.tsx
client/src/components/Loader/__test__/ShortTextStyle.test.tsx
client/src/components/Loader/__test__/SpinnerStyle.test.tsx
client/src/components/Loader/__test__/Svg.test.tsx
client/src/components/Loader/__test__/TextStyle.test.tsx
client/src/components/Loader/__test__/WordStyle.test.tsx
client/src/components/Loader/api.ts
client/src/components/Loader/component/AvatarStyle.scss
client/src/components/Loader/component/AvatarStyle.tsx
client/src/components/Loader/component/BulletListStyle.tsx
client/src/components/Loader/component/ButtonsStyle.scss
client/src/components/Loader/component/ButtonsStyle.tsx
client/src/components/Loader/component/ButtonStyle.scss
client/src/components/Loader/component/ButtonStyle.tsx
client/src/components/Loader/component/CodeStyle.tsx
client/src/components/Loader/component/ContentStyle.tsx
client/src/components/Loader/component/IconStyle.scss
client/src/components/Loader/component/IconStyle.tsx
client/src/components/Loader/component/LineStyle.scss
client/src/components/Loader/component/LineStyle.tsx
client/src/components/Loader/component/ListStyle.tsx
client/src/components/Loader/component/LoaderHolder.scss
client/src/components/Loader/component/LoaderHolder.tsx
client/src/components/Loader/component/MenuStyle.scss
client/src/components/Loader/component/MenuStyle.tsx
client/src/components/Loader/component/NarrowBulletListStyle.scss
client/src/components/Loader/component/NarrowBulletListStyle.tsx
client/src/components/Loader/component/NarrowContentStyle.scss
client/src/components/Loader/component/NarrowContentStyle.tsx
client/src/components/Loader/component/ShortTextStyle.scss
client/src/components/Loader/component/ShortTextStyle.tsx
client/src/components/Loader/component/SpinnerStyle.scss
client/src/components/Loader/component/SpinnerStyle.tsx
client/src/components/Loader/component/Svg.tsx
client/src/components/Loader/component/TextStyle.scss
client/src/components/Loader/component/TextStyle.tsx
client/src/components/Loader/component/WordStyle.scss
client/src/components/Loader/component/WordStyle.tsx
client/src/components/Loader/index.ts
client/src/components/Loader/Loader.tsx
client/src/components/Loader/README.md
client/src/components/Loader/type.ts
client/src/components/LoadingOverlay/__test__/__snapshots__/LoadingOverlay.test.tsx.snap
client/src/components/LoadingOverlay/__test__/LoadingOverlay.test.tsx
client/src/components/LoadingOverlay/index.tsx
client/src/components/LoadingOverlay/style.scss
client/src/components/Menu/__test__/__snapshots__/Menu.test.tsx.snap
client/src/components/Menu/__test__/__snapshots__/MenuLink.test.tsx.snap
client/src/components/Menu/__test__/__snapshots__/UserDetails.test.tsx.snap
client/src/components/Menu/__test__/Menu.test.tsx
client/src/components/Menu/__test__/MenuLink.test.tsx
client/src/components/Menu/__test__/UserDetails.test.tsx
client/src/components/Menu/components/CollapseButton.tsx
client/src/components/Menu/components/CompanyLogo.tsx
client/src/components/Menu/components/MainMenu.scss
client/src/components/Menu/components/MainMenu.tsx
client/src/components/Menu/components/MenuError.tsx
client/src/components/Menu/components/MenuFooter.tsx
client/src/components/Menu/components/MenuIcon.tsx
client/src/components/Menu/components/MenuLink.tsx
client/src/components/Menu/components/MobileHeader.tsx
client/src/components/Menu/components/SubMenu.scss
client/src/components/Menu/components/SubMenu.tsx
client/src/components/Menu/components/SubMenuHeader.tsx
client/src/components/Menu/components/ThemeAware.tsx
client/src/components/Menu/components/ThemeContext.tsx
client/src/components/Menu/components/UserDetails.tsx
client/src/components/Menu/index.ts
client/src/components/Menu/Menu.scss
client/src/components/Menu/Menu.tsx
client/src/components/Menu/MenuCssTMS.scss
client/src/components/Menu/README.md
client/src/components/Menu/Styles.tsx
client/src/components/Menu/type.ts
client/src/components/Radio/__test__/__snapshots__/Radio.test.tsx.snap
client/src/components/Radio/__test__/__snapshots__/RadioLabel.test.tsx.snap
client/src/components/Radio/__test__/Radio.test.tsx
client/src/components/Radio/__test__/RadioLabel.test.tsx
client/src/components/Radio/component/RadioElement.scss
client/src/components/Radio/component/RadioElement.tsx
client/src/components/Radio/component/RadioLabel.scss
client/src/components/Radio/component/RadioLabel.tsx
client/src/components/Radio/component/RadioWrapper.scss
client/src/components/Radio/component/RadioWrapper.tsx
client/src/components/Radio/index.ts
client/src/components/Radio/Radio.tsx
client/src/components/Radio/README.md
client/src/components/Radio/type.ts
client/src/components/Search/__test__/__snapshots__/Search.test.tsx.snap
client/src/components/Search/__test__/__snapshots__/SearchClearButton.test.tsx.snap
client/src/components/Search/__test__/__snapshots__/SearchCloseButton.test.tsx.snap
client/src/components/Search/__test__/__snapshots__/SearchSubmitButton.test.tsx.snap
client/src/components/Search/__test__/Search.test.tsx
client/src/components/Search/__test__/SearchClearButton.test.tsx
client/src/components/Search/__test__/SearchCloseButton.test.tsx
client/src/components/Search/__test__/SearchSubmitButton.test.tsx
client/src/components/Search/component/SearchClearButton.tsx
client/src/components/Search/component/SearchCloseButton.tsx
client/src/components/Search/component/SearchSubmitButton.tsx
client/src/components/Search/index.ts
client/src/components/Search/README.md
client/src/components/Search/Search.scss
client/src/components/Search/Search.tsx
client/src/components/Search/type.ts
