@import '../_lib/style/index';
.input {
  padding: 12px 16px;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: 0px;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
  height: 48px;
  width: 100%;
  @include text-style-body-rg;
  color: $gray-700;
  transition: all 0.25s;
  &:disabled {
    background-color: $gray-300;
    color: $gray-rgba-600;
    -webkit-text-fill-color: unset;
    -webkit-opacity: 1;
  }
  &:read-only {
    background-color: $gray-300;
    -webkit-text-fill-color: unset;
    -webkit-opacity: 1;
  }
  &:focus {
    outline: 0;
    border-color: #129fea;
  }
  &:focus:invalid {
    color: #b94a48;
    border-color: #e9322d;
  }
  &::-webkit-input-placeholder {
    color: $gray-600;
  }
}

.input {
  &--on-error {
    border: 1px solid #ff9fa7;
    &:focus {
      outline: 0;
      border: 1px solid #d62735;
    }
  }
  &--on-warning {
    border: 1px solid #ffe58f;
    &:focus {
      outline: 0;
      border: 1px solid #ffd666;
    }
  }
  &--on-success {
    border: 1px solid #81e8b3;
    &:focus {
      outline: 0;
    }
  }
}
