@import '../_lib/style/index';
$menu-width-min-close: 56px;
$menu-width-max-close: 272px;
$menu-width-min-max: 328px;
$menu-width-max-max: 544px;
$menu-height-mobile: 50px;
$Layout: '.layout';

body {
  background-color: $gray-200;
}

#{$Layout} {
  display: flex;
  /* Layout structure */
  flex-direction: column;
  min-height: 100vh;

  @include desktop-lg {
    flex-direction: row;
  }

  &__main-menu {
    flex-shrink: 0;
    flex-grow: 0;
  }

  /* Small Screen - Main menu goes on top */
  @include desktop-max {
    #{$Layout}__main-app {
      box-shadow: none;
      overflow: visible;
      flex-grow: 1;

      &:after {
        content: '';
        position: absolute;
        display: block;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: 0;
      }
    }

    &.menu-status-open-mobile {
      #{$Layout}__main-app {
        overflow: hidden;

        &:after {
          content: '';
          opacity: 1;
          z-index: 9;
        }
      }

      #{$Layout}__main-content,
      .header {
        transform: translateX(#{$menu-width-max-close});
      }
    }

    #{$Layout}__main-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 5;
    }
  }
}

$MinHeader: 80px;
$MaxHeader: 224px;

#{$Layout}__main-app {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: padding-right 0.3s;
  display: flex;
  flex-direction: column;
  background-color: $gray-200;

  @include desktop-lg {
    height: 100vh;
  }
}

#{$Layout}__main-header {
  position: relative;
  width: 100%;
}

#{$Layout}__main-content-wrapper {
  position: relative;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  height: 100%;

  @include desktop-max {
    height: auto;
    overflow-y: visible;
    flex-grow: 1;
    display: flex;
    width: 100%;
  }
}

#{$Layout} {
  &--is-sidepanel-open {
    #{$Layout}__main-app {
      padding-right: $SidePanelWidthDesktop;

      @include tablet-max {
        padding-right: 0;
      }
    }

    #{$Layout}__main-menu {
      @include desktop-max {
        @include desktop {
          width: calc(100% - 344px);
        }
      }
    }
  }

  &--is-modal-open {
    #{$Layout}__main-content-wrapper {
      overflow-y: visible;
    }
  }
}

@keyframes ani-side-panel {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

body {
  &.scroll-hidden {
    overflow: hidden;
  }
}

/* Temporary Left Nav */

.tmp-nav-content {
  transition: all 0.3s;
  height: 50px;

  button {
    display: none;
    width: 40px;
    height: 40px;
    margin: 5px;
  }

  @include desktop-lg {
    height: 100%;
    overflow-y: auto;

    button {
      display: inline-block;
    }
  }
}

@include desktop-lg {
  .layout.menu-status-wide {
    .tmp-nav-content {
      width: 272px;
    }
  }

  .layout.menu-status-min {
    .tmp-nav-content {
      width: 56px;
    }
  }
}

.layout--theme-min {
  // Note that Header-related styles is in Header.scss.
  &#{$Layout} {
    #{$Layout}__main-app {
      box-shadow: none;
      overflow: visible;
      flex-grow: 1;

      &:after {
        content: '';
        position: absolute;
        display: block;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: 0;
      }
    }

    &.menu-status-open-mobile {
      #{$Layout}__main-app {
        overflow: hidden;

        &:after {
          content: '';
          opacity: 1;
          z-index: 9;
        }
      }

      #{$Layout}__main-content,
      .header {
        transform: translateX(#{$menu-width-max-close});
      }
    }

    #{$Layout}__main-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 5;
    }
  }

  #{$Layout}__main-app {
    height: auto;
  }

  #{$Layout}__main-content-wrapper {
    height: auto;
    overflow-y: visible;
    flex-grow: 1;
    display: flex;
    width: 100%;
  }
}
