@import '../../_lib/style/index';

.btn {
  opacity: 1;

  &__label {
    font-family: $font-family;
    text-align: center;
    position: relative;
    z-index: 1;
    @include text-style-body-rg;
  }

  &--is-uppercase {
    .btn__label {
      @include text-style-button;
    }
  }
}
